  <% content_for :for_head do %>
	<title>Easy PTV</title>
	<meta name="turbolinks-visit-control" content="reload">
	<script>

		function changeMode(mode, async) {
			// Get the value of the mode passed in. (mode is route_type_id)
			$("#mode_select").val(mode);

			// async = false: synchronous, that is, the method will not return until it has finished.
			route_select = $("#route_select");
			route_select.empty({});

			window.jQuery.ajax({
				url: "/setup/"+mode+"/routes", 
				dataType: 'json',
				async: async,
				success: function(result) {
					var route_select = $("#route_select");
		        	$.each(result, 
						function(index, element) 
						{
							// Select the first item.
							selected = false
							if(index == 0) {
								selected = true
							}
							var option = $('<option>', {
								text: element.display_name
							});
							option.val(element.route_id);
							option.attr("route_name", element.route_name);							
							option.attr("route_id", element.route_id);
							if (selected) {
								option.attr("selected", "selected");
							}
							route_select.append(option);
						}
					);
				}
			});
		}

		function changeSelect(mode, route, stop, type, async) {
// 			if (route == null) {
// // We need to work out why this is the case. My suspicion is that it is turbolinks related
// 				return;
// 			}

			// Parameters:
			// The current mode
			// The current route
			// The current stop
			// Async... Do we want to the run this load synchronously or not. Synchronous means this function will not return until the data is returned.
			// Type: "mode", "route", "stop"

			// LOGIC
			// Create the variable for the select. var select = $("#"+type+"_select");

			// Disable the select to be loaded

			// Empty the select to be loaded.
			var select = $("#"+type+"_select");
			select.empty({});
			select.attr("disabled", true);
			// Show the loading spinner?


			// What are we changing? Mode, Route, Stop or Destination?
			// if it is the mode, load the routes.
			// Mode: url: "/setup/"+mode+"/routes",

			// if it is the route, load the stops.
			// Route: url: "/stops/"+mode+"?route="+route,

			// if it is the stop, load the directions.
			// Stop: url: "/directions/"+route,
			var url = "";
			switch (type) {
				case "mode":
					url = "/setup/"+mode+"/routes";
				case "route":
					url = "/stops/"+mode+"?route="+route;
				case "stop":
					url = "/directions/"+route;
			}


			// Using ajax, load the required data.
			// so for the url, we need the mode and the route

			// Call the url passing the async parameter.

			$.ajax({
				url: url,
				dataType: 'json',
				async: async,
				success: function(result) {
					$.each(result, function(index, element){
						var option = $('<option>', {
							text: element.display_name
						});
						option.val(element[type+"_id"]);
						option.attr(type+"_id", element[type+"_id"]);
						option.attr(type+"_name", element[type+"_name"]);
						select.append(option);
					});
				}
			});

			// var selected = "";
			// $.ajax({
			// 	url: "/stops/"+mode+"?route="+route,
			// 	dataType: 'json',
			// 	async: async,
			// 	success: function(result) {
		 //        	$.each(result, 
			// 			function(index, element) 
			// 			{
			// 				var option = $('<option>', {
			// 					text: element.display_name
			// 				});
			// 				option.val(element.stop_id);
			// 				option.attr("stop_id", element.stop_id);
			// 				option.attr("stop_name", element.stop_name);
			// 				stop_select.append(option);
			// 			}
			// 		);
			// 	}
			// });
		}		

		function changeRoute(mode, route, async) {
			if (route == null) {
// We need to work out why this is the case. My suspicion is that it is turbolinks related

// Long story short we haven't been passed a route, so we don't know where to search for stops.
				return;
			}
			var stop_select = $("#stop_select");
			stop_select.empty({});

			var destination_select = $("#destination_stop");
			destination_select.empty({});

			$.ajax({
				url: "/stops/"+mode+"?route="+route,
				dataType: 'json',
				async: async,
				success: function(result) {
		        	$.each(result, 
						function(index, element) 
						{
							var stop_option = $('<option>', {
								text: element.display_name
							});
							stop_option.val(element.stop_id);
							stop_option.attr("stop_id", element.stop_id);
							stop_option.attr("stop_name", element.stop_name);
							stop_select.append(stop_option);

							var destination_option = $('<option>', {
								text: element.display_name
							});
							destination_option.val(element.stop_id);
							destination_option.attr("stop_id", element.stop_id);
							destination_option.attr("stop_name", element.stop_name);
							destination_select.append(destination_option);

						}
					);
				}
			});
		}

		function changeStop(mode, route, stop) {
			var direction_select = $("#direction_select");
			direction_select.empty({});

			window.jQuery.ajax({
				url: "/directions/"+route,
				dataType: 'json',
				success: function(result) {
					var direction; // Do we need this? I don't think so.
		        	$.each(result, 
						function(index, element) 
						{
							if (index == 0) {
								direction = element.direction_id;
							}	
							var option = $('<option>', {
								text: element.display_name
							});
							option.val(element.direction_id);
							option.attr("direction_id", element.direction_id);
							direction_select.append(option);
						}
					);
				}
			});
		}

		function changeDirection() {
			// we don't need any more json calls to the server anymore.

			// enable the timetable button.
			var button = $("#timetable_button");
			button.removeAttr("disabled")
		}

		function viewTimetable() {
			mode = $("#mode_select").val();
			route = $("#route_select").val();
			stop = $("#stop_select").val();
			direction = $('#direction_select option:selected').val();

			window.location.replace("/timetable?stop="+stop+"&route_type="+mode+"&route="+route+"&direction="+direction);
		}

		function viewTimetableForDestination() {
			mode = $("#mode_select").val();
			route = $("#route_select").val();
			stop = $("#stop_select").val();
			direction = $('#direction_select option:selected').val();
			destination = $('#destination_stop option:selected').val();

			window.location.replace("/arrivals?stop="+stop+"&route_type="+mode+"&route="+route+"&direction="+direction+"&destination="+destination);
		}


		$( document ).on('turbolinks:load', function() {

			// Disable the destination form for the moment.
			// $("#destination_stop").attr("disabled", true);
			// $("#destination_button").attr("disabled", true);

			$("#mode_select").change(function() {
				// the mode select combo has changed, call the changeMode method to load the new set of routes. true makes it an async ajax call.
				changeMode($(this).val(), true);				
			});

			$( "#route_select" ).change(function() {
				// the route select combo has changed, call change route to get all the stops for the route. This also needs the selected mode, so I'll need to work out how to get it.

				// update the stops.
				// update the directions.
				mode = $("#mode_select").val();
				route = $(this).val();
				changeRoute(mode, route, true);
			});

			$( "#stop_select" ).change(function() {
				// update the stops.
				var mode = $("#mode_select");
				var selected_mode = mode.val();
				var route = $("#route_select");
				var selected_route = route.val();
				var stop = $("#stop_select");
				var selected_stop = stop.val();
				// mode, route, stop
				changeStop(selected_mode, selected_route, selected_stop);
			});
			$( "#direction_select" ).change(function() {
				changeDirection();
			});

			// Select the mode (train), this is synchronous, so the modes will be loaded after the call.
			mode = $('#mode_select').val();
			changeMode(mode, false);

			// Get the selected route after the mode was changed.
			var route = $('#route_select').find(":selected").val();
 			changeRoute(mode, route, false);

			changeStop(mode, route, null);

		});

	</script>
<% end %>

<div class="container">
	<form class="needs-validation" action="javascript:viewTimetable();"> 
	  <fieldset>
		<div class="form-row">
    		<div class="col-md-4 mb-3">
	    		<label for="mode">Select a mode</label>
	    		<select name="mode" id="mode_select" class="custom-select" required>
		    	<%
		    		@modes.each do |mode|
		    	%>
		    		<option value="<%= mode.route_type %>"><%= mode.route_type_name %></option>
		    	<% end %>
			    </select>
			</div>
		</div>

		<div class="form-row">
    		<div class="col-md-4 mb-3">
			    <label for="route">Select a route</label>
			    <select name="route" id="route_select" class="custom-select" required></select>
			</div>
		</div>
	    
		<div class="form-row">
    		<div class="col-md-4 mb-3">
			    <label for="stop">Select a stop</label>
			    <select name="stop" id="stop_select" class="custom-select" required></select>
			</div>
		</div>
	    
		<div class="form-row">
    		<div class="col-md-4 mb-3">
			    <label for="direction">Select a direction</label>
	    		<select name="direction" id="direction_select" class="custom-select" required></select>
			</div>
			<div class="invalid-feedback">
				Which way do you want to go? Please select a direction
			</div>
		</div>
	    <div class="form-row">
    		<div class="col-md-4 mb-3">
				<button id="timetable_button" type="submit" class="btn btn-primary">View Timetable</button>
			</div>
		</div>
	   </fieldset>
	</form>

	<form id="destination_form" class="needs-validation" action="javascript:viewTimetableForDestination();"> 
		<div class="form-row">
    		<div class="col-md-4 mb-3">
			    <label for="destination_stop">So you know which way you're going. Where do you want to get off? (This will give you the travel times on the timetable - and help you pick which is the best one to catch!)</label>
	    		<select name="destination_stop" id="destination_stop" class="custom-select" required></select>
			</div>
			<div class="invalid-feedback">
				Where do you want to get off?
			</div>
		</div>
	    <div class="form-row">
    		<div class="col-md-4 mb-3">
				<button id="destination_button" type="submit" class="btn btn-primary">View Travel Time - Timetable</button>
			</div>
		</div>

	</form>


</div>